<!--    Educacion    -->
<div class="container rounded mb-5 pt-2 pb-3" id="modulo">
    <div class="row border-bottom border-white">
        <div class="col d-flex justify-content-between">
            <h3>Educacion</h3>
            <button type="button" class="btn btn-outline-primary mb-2">Agregar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center py-4">
            <img src="https://i.ibb.co/RTcxfDK/AP-Logo.png" class="img-fluid" id="modulo-img" alt="educacion">
        </div>
        <div class="col-md-8 d-flex justify-content-center py-3 py-md-0 align-items-center" id="descripcion">
            <div class="d-flex flex-column text-center">
                <span class="fw-bold">Argentina Programa - #SeProgramar</span>
                <span class="mt-3">2022 ~ 2022</span>
                <span class="mt-3">Hola</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-grid gap-2 d-md-flex justify-content-md-around pt-3" id="modulo-footer">
            <button type="button" class="btn btn-outline-warning flex-fill">Editar</button>
            <button type="button" class="btn btn-outline-danger flex-fill">Borrar</button>
        </div>
    </div>
</div>