<!--    NavBar    -->
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
            <img src="../../../assets/AP-Logo.png" height="30" alt="logo">
            <span class="ms-2 fw-bold" id="yo-programo">#YoProgramo</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="container-fluid d-flex justify-content-center justify-content-sm-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-center" href="https://github.com/Maxifigueroa20" target="_blank">
                            <img src="../../../assets/github.png" height="25" alt="github">
                            <span class="ms-1 d-sm-none d-md-inline">GitHub</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="https://gitlab.com/Maxifigueroa20" target="_blank">
                            <img src="../../../assets/gitlab.png" height="25" alt="gitlab">
                            <span class="ms-1 d-sm-none d-md-inline">GitLab</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="https://twitter.com/MaxiFigueroa21" target="_blank">
                            <img src="../../../assets/twitter.png" height="25" alt="twitter">
                            <span class="ms-1 d-sm-none d-md-inline">Twitter</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-danger mt-1" (click)="logout()">Cerrar Sesión</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>