<!--    NavBar    -->
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">
            <img src="../../../assets/AP-Logo.png" height="30" alt="logo">
            <p class="ms-2 fw-bold" id="yo-programo">#YoProgramo</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="container-fluid d-flex justify-content-center justify-content-sm-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">
                            <img src="../../../assets/github.png" height="25" alt="github">
                            <p class="ms-1 d-sm-none d-md-inline">GitHub</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">
                            <img src="../../../assets/gitlab.png" height="25" alt="gitlab">
                            <p class="ms-1 d-sm-none d-md-inline">GitLab</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">
                            <img src="../../../assets/twitter.png" height="25" alt="twitter">
                            <p class="ms-1 d-sm-none d-md-inline">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-danger" (click)="logout()">Cerrar Sesión</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>