<!--    Experiencia    -->
<div class="container rounded mb-5 pt-2" id="modulo">
    <div class="row">
        <div class="col d-flex justify-content-between">
            <h3>Experiencias</h3>
            <button type="button" class="btn btn-outline-primary mb-2" *ngIf="isAdmin" (click)="onCreate()">Agregar</button>
        </div>
    </div>
    <div *ngFor="let experiencia of experiencias">
        <div class="row border-top border-white">
            <div class="col-md-4 d-flex justify-content-center align-items-center py-4">
                <img src={{experiencia.imagenExperiencia}} class="img-fluid" id="modulo-img" alt="experiencia">
            </div>
            <div class="col-md-8 d-flex justify-content-center py-3 py-md-0 align-items-center" id="descripcion">
                <div class="d-flex flex-column text-center">
                    <span class="fw-bold mt-3">{{experiencia.tituloExperiencia}}</span>
                    <span class="mt-3 ">{{experiencia.fechaInicioExperiencia}} ~ {{experiencia.fechaFinExperiencia}}</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isAdmin">
            <div class="col d-grid gap-2 d-md-flex justify-content-md-around py-3" id="modulo-footer">
                <button type="button" class="btn btn-outline-warning flex-fill" (click)="onEdit(experiencia)">Editar</button>
                <button type="button" class="btn btn-outline-danger flex-fill" (click)="onDelete(experiencia.idExperiencia)">Borrar</button>
            </div>
        </div>
    </div>
    <div class="row border-top border-light">
        <div class="col d-flex justify-content-center py-5" *ngIf="experiencias.length === 0">
            <h2>¡No hay experiencias aqui!</h2>
        </div>
    </div>
</div>