<!--    Sobre Mi    -->
<div class="container rounded mb-5 pt-2 pb-3" id="modulo">
    <div class="row border-bottom border-white">
        <div class="col d-flex justify-content-between">
            <h3>Sobre Mí</h3>
            <button class="btn btn-outline-warning mb-2">Editar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-center py-4">
            <img src="https://cdn-icons-png.flaticon.com/512/3001/3001764.png" width="150" alt="fotoPerfil">
            <span class="mt-4">Hola</span>
            <span class="mt-2">Que tal</span>
        </div>
        <div class="col-md-8 d-flex py-3 py-md-0 align-items-center" id="descripcion">
            <div>
                <span>Soy un estudiante universitario que le entusiasma la programacion. En mis tiempos libres suelo investigar y aprender nuevos conceptos relacionados a este gran mundo de la programacion.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-wrap flex-row justify-content-between pt-2" id="modulo-footer">
            <div>
                <i class="bi bi-telephone-fill me-2"></i>
                <span>3886556561</span>
            </div>
            <div>
                <i class="bi bi-envelope-at-fill me-2"></i>
                <span>marianof0101@gmail.com</span>
            </div>
        </div>
    </div>
</div>