<!--    Sobre Mi    -->
<div class="container rounded mb-5 pt-2" id="modulo">
    <div class="row border-bottom border-white">
        <div class="col d-flex justify-content-between">
            <h3>Sobre Mí</h3>
            <button type="button" class="btn btn-outline-warning mb-2" *ngIf="isAdmin" (click)="onEdit()">Editar</button>
        </div>
    </div>
    <div *ngIf="persona">
        <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-center py-4">
                <img src={{persona.imagenPersona}} class="rounded-circle" width="200" alt="fotoPerfil">
                <span class="mt-4">{{persona.nombrePersona}}</span>
                <span class="mt-2">{{persona.tituloPersona}}</span>
            </div>
            <div class="col-md-8 d-flex py-3 py-md-0 align-items-center" id="descripcion">
                <div>
                    <span>{{persona.descripcionPersona}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-wrap flex-row justify-content-between py-2" id="modulo-footer">
                <div>
                    <i class="bi bi-telephone-fill me-2"></i>
                    <span>{{persona.numeroPersona}}</span>
                </div>
                <div>
                    <i class="bi bi-envelope-at-fill me-2"></i>
                    <span>{{persona.correoPersona}}</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!persona">
        <div class="row">
            <div class="col d-flex justify-content-center py-5">
                <h2>¡Todavia no se ha agregado información sobre la persona!</h2>
            </div>
        </div>
    </div>
</div>