/* You can add global styles to this file, and also import other style files */

:root {
    --borde: 1px solid white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: black;
}

p, i, h1, h3, hr, span {
    color: white;
}

p {
    line-height: 1.8;
}

#modulo {
    border: var(--borde);
}

#modulo-img {
    max-height: 80px;
}

#modulo-footer {
    border-top: var(--borde);
}

#descripcion {
    border-left: var(--borde);
}

@media (max-width: 768px) {
    #descripcion {
        border-left: none;
        border-top: var(--borde);
    }
}