/* You can add global styles to this file, and also import other style files */

:root {
    --borde: 1px solid white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: black;
}

p, h1, h3, span {
    color: white;
}

p {
    line-height: 1.8;
}